body{
	background-image: url("img/tlo.png");
	margin: 0px;
    font-family: 'Lato', sans-serif;
	font-size: 20px;
}

/*nie wiedzieć czemu poniższa kolejność MA ZNACZENIE!! inaczej nie zadziała*/
a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #485b3b;
	text-decoration: wavy underline;
}

a:active{
	color: black;
	text-decoration: none;
}

#logo{
	text-align:center;
	width: 100%;
	height: 50px;
	background-color: #485b3b;
	font-size: 35px;
	color: white;
	text-transform: uppercase; /*zamienia litery na duże*/
	padding-top: 3px;
	letter-spacing: 4px;
	border-bottom: 4px dotted #e6e9ef;
	text-shadow:
	2px 2px 0 #77a3f9,
	-2px 2px 0 #77a3f9,
	-2px -2px 0 #77a3f9,
	2px -2px 0 #77a3f9;
}
#kontener{
	margin-left: auto;
	margin-right: auto; /*wyśrodkowałem*/
	width: 876px;
	background-color:  white;
	padding: 10px;
	border-left: 2px solid #77a3f9;
	border-right: 2px solid #77a3f9;
}
#spis{
	width: 780px;
	padding-left: 100px;
}

ol{
	margin-top: 5px;
}

ol > li{
	font-size: 25px;
	text-transform: uppercase;
	padding: 5px;
	font-weight: 700;
	letter-spacing: 2px;
}

ol > li > ul{
	font-size: 20px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 1px;
	margin-top: 5px;
	margin-left: 10px;
	list-style-type: none; /*pozbywam się kropek które domyślnie się pojawiają*/
}
ol > li > ul > li:before{
	color: red;
	content: "†";
	margin-right: 12px;
	
}

.slajd{
	padding: 20px 40px; /*najpierw podajmy oś Y potem X, pionowo później poziomo. Jak podajemy dwa wartości reszta ustawią się tak samo*/
	text-align: justify;
}

h1{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800px;
}






