
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-youtube-1:before { content: '\f313'; } /* '' */