<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Express</title>
</head>
<body>
    <h2>Parametry Json-a</h2>
    Pierwszy: <p><%= jsonExample.method %></p><br/>
    Drugi: <p><%= jsonExample.params %></p><br/>
    Trzeci: <p><%= jsonExample.id %></p><br/>
</body>
</html>